.color0 {
  &:hover {
    color: royalblue;
  }
}
.color1 {
  &:hover {
    color: salmon;
  }
}
.color2 {
  &:hover {
    color: blueviolet;
  }
}
.color3 {
  &:hover {
    color: gold;
  }
}
.color4 {
  &:hover {
    color: red;
  }
}
